.contact {
  padding: 30px 0px;
  background-color: gold;
}

.title {
  color: #333;
  font-size: 26px;
  border-bottom: 1px solid #ffbf00;
  margin-bottom: 20px;
}

.text {
  color: #777;
}

.form {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 970px) {
  .form {
    flex-direction: column;
  }
}

.left {
  width: 100%;
  background-color: pink;
}

.right {
  width: 100%;
  background-color: powderblue;
}