.technologies {
  padding: 30px 0px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 6em);
  grid-gap: 20px;
}

.title {
  color: #333;
  font-size: 26px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 970px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 6em);
  }
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  padding: 1.5em;
  color: #292929;
}

.html,
.css,
.javascript,
.typescript,
.react,
.next,
.sass,
.bootstrap {
  font-size: 4rem;
}

.html:hover {
  color: #e54c21;
}

.css:hover {
  color: #0170ba;
}

.javascript:hover {
  color: #ffc927;
}

.typescript:hover {
  color: #2d79c7;
}

.react:hover {
  color: #00d8ff;
}

.next:hover {
  color: #1ebcb4;
}

.sass:hover {
  color: #cd669a;
}

.bootstrap:hover {
  color: #7952b3;
}
