.projects {
  padding: 30px 0px;
  color: #333333;
}

.title {
  background-image: linear-gradient(90deg, #004343, #00cccc);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
  font-size: 2.75rem;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 70%;
}

.block {
  background-color: #ffffff;
  padding: 20px 20px 1px 20px;
  border-radius: 10px;
}
.card {
  padding: 5px 0px;
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  .card {
    flex-direction: column;
  }
}

.left {
  width: 100%;
  border-bottom: 1px dotted black;
}

@media only screen and (max-width: 576px) {
  .left {
    border-bottom: none;
  }
}

.singleProject {
  padding: 20px 15px 30px 15px;
  display: block;
}

.right {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px dotted black;
}

@media only screen and (max-width: 576px) {
  .right {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px dotted black;
  }
}

.code {
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50% 50% 55% 45% / 45% 60% 40% 55%;
  transition: 100ms transform ease-in-out;
  background-image: linear-gradient(90deg, #004343, #00a5a5);
  text-transform: uppercase;
  transform: rotate(-5deg);
}

.code:hover {
  width: 170px;
  height: 60px;
  color: #ffbf00;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  border-radius: 60% 40% 45% 55% / 45% 55% 45% 55%;
  transform: scale(1.025);
  transition: 100ms;
  transform: rotate(-10deg);
}
