.projects {
  padding: 30px 0px;
  color: #333333;
}

.title {
  background-image: linear-gradient(90deg, #004343, #00cccc);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
  font-size: 2.75rem;
  margin-bottom: 30px;
  margin-left: 30px;
}

.title:hover .back {
  color: #007f7f;
}

.block {
  background-color: #ffffff;
  border-radius: 10px;
}

.projectName {
  padding: 20px 30px;
  background-image: linear-gradient(90deg, #dde4e7, #ffffff);
  border-radius: 10px 10px 0px 0px;
  font-weight: 600;
}

.projectDescription {
  padding: 20px 30px;
  font-weight: 400;
}

.projectIcon {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.projectLinks {
  padding: 20px 30px;
  background-image: linear-gradient(90deg, #dde4e7, #ffffff);
  border-radius: 0px 0px 10px 10px;
}

.projectDemo {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #333333;
  cursor: pointer;
  border: 1px dotted #333333;
  font-size: 25px;
  font-weight: 400;
  background-color: #f4f6f7;
}

.projectDemo:hover {
  background-color: #e9edef;
}

.cardArrow {
  margin-left: 5px;
  font-size: 35px;
}

.projectDemo:hover .cardArrow {
  color: #007f7f;
}

.cardMore {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #333333;
  cursor: pointer;
  border: 1px dotted #333333;
}

.cardArrow {
  margin-left: 5px;
  font-size: 35px;
}

.cardMore:hover .cardArrow {
  color: #007f7f;
}
