.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border-bottom: 1px solid #ddd; */
}

@media only screen and (max-width: 970px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.logo {
  margin-right: auto;
  padding: 10px 0px;
}

@media only screen and (max-width: 970px) {
  .logo {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

@media only screen and (max-width: 970px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu a {
  color: #3c3c3c;
  padding: 20px 30px;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.7px;
}

@media only screen and (max-width: 576px) {
  .menu a {
    padding: 20px 25px;
  }
}

.menu a:hover {
  color: #007f7f;
}
.menu a.selected {
  border-bottom: 2px solid #007f7f;
  color: #007f7f;
  /* background-image: linear-gradient(to top, #f4f6f7, #ffffff); */
}

.menu a.none {
  background-color: transparent;
}
