.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
}

@media only screen and (max-width: 970px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.logo {
  margin-right: auto;
  padding: 10px 0px;
}

@media only screen and (max-width: 970px) {
  .logo {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 970px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu a {
  font-size: 18px;
  padding: 20px 30px;
  border-bottom: 2px solid #ffffff;
}

.menu a:hover {
  /* background: linear-gradient(#f2f2f2, #e8e8e8); */
  border-bottom: 2px solid black;
}
.menu a.selected {
  /* background: linear-gradient(#f2f2f2, #e8e8e8); */
  border-bottom: 2px solid black;
}

.menu a.none {
  background-color: transparent;
}
