.random {
  padding: 30px 0px;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  text-align: center;
}

.title {
  background-image: linear-gradient(90deg, #002e22, #00dfa4);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
  font-size: 2.75rem;
  margin-bottom: 20px;
}

.text {
  color: #3c3c3c;
  line-height: 1.6em !important;
}
