.footer {
  width: 100%;
  padding: 30px 0;
  color: #333333;
  letter-spacing: 1.3px;
  /* border-top: 1px solid #ddd; */
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon a {
  cursor: pointer;
  font-size: 2.1rem;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}

.icon a:hover {
  color: #007f7f;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}