@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");

:root {
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --white: #fff;
  --gray: #6c757d;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
}

body {
  background: #ffffff;
  color: #333;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: 0px 30px;
}

.fluid {
  width: 100%;
  background-image: linear-gradient(90deg, #f4f6f7, #ffffff);
  -moz-box-shadow: inset 0.1px 1px 5px -2px var(--gray);
  -webkit-box-shadow: inset 0.1px 1px 5px -2px var(--gray);
  box-shadow: inset 0.1px 1px 5px -2px var(--gray);
}

.active {
  background-color: red;
}
