.about {
  /* padding: 30px 0px; */
  display: flex;
  justify-content: center;
  height: 50vh;
}

@media only screen and (max-width: 970px) {
  .about {
    height: 35vh;
  }
}

.firstLine {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  font-weight: 900;
  /* text-transform: uppercase; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.06em;
  font-size: 5vw;
}

.secondLine {
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  font-weight: 900;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.06em;
}

.thirdLine {
  background-image: linear-gradient(90deg, #1f1f1f, #505050);
  font-weight: 900;
  /* text-transform: uppercase; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.06em;
  font-size: 5vw;
  margin-left: 50px;
}

.fourthLine {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  font-weight: 900;
  text-transform: uppercase;
  background-clip: text;
  letter-spacing: -0.06em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  color: #777;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  width: 100%;
  font-size: 3.5vw;
  line-height: 0.8;
}

@media only screen and (max-width: 1400px) {
  .greeting {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 992px) {
  .greeting {
    font-size: 6vw;
  }
}
