.about {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.firstLine {
  background-image: linear-gradient(90deg, #333333, #828282);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.08em;
  font-size: 5vw;
}

.secondLine {
  background-image: linear-gradient(90deg, #004343, #00cccc);
  font-weight: 900;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.03em;
}

.thirdLine {
  background-image: linear-gradient(90deg, #333333, #828282);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.08em;
  font-size: 5vw;
  margin-left: 50px;
}

.fourthLine {
  background-image: linear-gradient(90deg, #004343, #00cccc);
  font-weight: 900;
  text-transform: uppercase;
  background-clip: text;
  letter-spacing: -0.03em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  font-size: 3.2vw;
  line-height: 0.8;
}

@media only screen and (max-width: 1400px) {
  .greeting {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 992px) {
  .greeting {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 576px) {
  .greeting {
    font-size: 6vw;
  }
}
